/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-image: linear-gradient(to right top, #333745, #3e4c6d, #426397, #3d7cc4, #2196f3);
    margin: 0;
    min-height: calc(100vh - 80px);
}
.crud-table {
    max-width: 800px;
    padding: 24px 0 0 0;
}
.container {
   margin: 80px auto 0 auto;
}
* {
    box-sizing: border-box;
}
.clearfix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
}
.form-inline {
    margin-bottom: 20px;
}
.pull-left {
    float: left!important;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-right: 6px;
}
a {
    text-decoration: none;
    color: #fff;
}
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}


.pull-right {
    float: right!important;
    display: flex;
    align-items: center;
}
p {
    margin: 0 10px 0 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

/* Estilos de tabla */
.container table {
    background-color:var(--textLigth);
    border-collapse: collapse;
    /* border:solid 1px var(--black); */
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.2) ;
}
.container th,td{
    padding:20px;
    text-align: center;
}
.container table thead{
    background-color:var(--textDark);
    border-bottom: solid 5px var(--colorPrimary);
    color:var(--textLigth);
}
.container tr:nth-child(even){
    background-color: var(--textDark);
    color:var(--textLigth);
}
/* fin */

h3 {
    font-size:24px;
    margin-top:20px;
    margin-bottom:10px
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.id_number{
    margin-bottom: 20px;
}
.form-inline .form-control {
    margin-top: 11px;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

