/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Variables */
:root {
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
/*Paleta de colores*/    
    --textDark:#333745;
    --textLigth:#D1D1D1;
    --colorPrimary:#2196f3;
    --colorSecundary:#efefef;
}

*   {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    padding:90px 0 0;
    padding-bottom:0;
    background-color:var(--white);
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: var(--textDark);
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align:center;
}
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px 0 40px;
    box-shadow: 0px 1px rgba(0,0,0, .3);
    /* max-width: 992px; */
    margin:0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    /* margin-right: 40px; */
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    font-size: 14px;
    line-height:80px;
    text-transform: uppercase;
    width:max-content;
}
.nav-menu-link{
    padding:8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color:var(--colorPrimary);
    transition: 0.5s;
}
.nav-toggle{
    color:#fff;
    background: none;
    border: none;
    font-size: 30px;
    padding:0 20px;
    line-height:60px;
    display:none;
    cursor: pointer;
}
.name{
    display:flex;
    align-items:center;
    font-size:var(--lg);
    color:var(--white);
    font-weight: bold;
} 
.logo_imagen{
    display:flex;
    align-items:center;
}
img{
    width: 133px;
    height: 75px;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .container-instructions{
    margin-bottom:23px;
} */
.modulo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid #444;
}
.container-instructions h2 {
    text-align: center;
}
.instructions p{
    margin: 10px 0 10px 0;
}
.instructions div {
    display: flex;
    justify-content:space-between;
}
.modulo1 .instructions{
    padding-bottom: 23px;
}
.observation{
    margin-top: 0;
}
.instructions div textarea {
    height: 43px;
    width: 399px;
    resize: none;
}
.estado-documento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.estado-documento h2 {
    text-align: center;
    margin: 10px 0 10px 0;
}
/* Estilos de tabla */

.estado-documento table {
    background-color:var(--textLigth);
    border-collapse: collapse;
    border:solid 1px var(--black);
}
.estado-documento th,td{
    padding:20px;
}
.estado-documento table thead{
    background-color:var(--textDark);
    border-bottom: solid 5px var(--black);
    color:var(--textLigth);
}
.estado-documento tr:nth-child(even){
    background-color: var(--textDark);
}
/* .estado-documento td:hover{
    background-color: var(--colorPrimary);
    transition: 0.5s;
} */

/* Fin */

@media (max-width: 768px) {
    body {
        padding:70px;
    }
    .header {
        height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        margin: 0;
        background-color:var(--textDark);
        position:fixed;
        align-items:center;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height:calc(100% -60px);
        overflow-y:auto;
        left:100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height:70px;
    }
    .nav-menu-link:hover nav-menu-link-activate{
        background:none;
        color:#000;
    }
    .nav-toggle{
        display:block;
    }
    .nav-menu_visible{
        left:0;
    }
}

