/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Variables */
:root {
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
/*Paleta de colores*/    
    --textDark:#333745;
    --textLigth:#D1D1D1;
    --colorPrimary:#2196f3;
    --colorSecundary:#efefef;
}
*   {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right top, #333745, #3e4c6d, #426397, #3d7cc4, #2196f3);
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: var(--textDark);
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align:center;
}
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px 0 40px;
    box-shadow: 0px 1px rgba(0,0,0, .3);
    margin:0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    font-size: var(--sm);
    line-height:80px;
    text-transform: uppercase;
    width:max-content;
}
.nav-menu-link{
    padding:8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color:var(--colorPrimary);
    transition: 0.5s;
}
.nav-toggle{
    color:#fff;
    background: none;
    border: none;
    font-size: var(--lg);
    padding:0 20px;
    line-height:60px;
    display:none;
    cursor: pointer;
}
.name{
    display:flex;
    align-items:center;
    font-size:var(--md);
    color:var(--white);
    font-weight: bold;
} 
.logo_imagen{
    display:flex;
    align-items:center;
}
img{
    width: 133px;
    height: 75px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-instructions{
    background-color: var(--textDark);
    margin-bottom:20px;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.2) ;
} 
.container-instructions h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    color: var(--textLigth);
    border-bottom: solid 5px var(--colorPrimary);
    font-size:var(--lg);
}
.instructions{
    background-color: var(--colorSecundary);
    padding: 20px;
    font-size:var(--md);
}
.instructions p{
    margin: 10px 0 20px 0;

}
.instructions div {
    display: flex;
    justify-content:space-between;
}
.observation{
    margin-top: 0;
}
.instructions div textarea {
    height: 50px;
    width: 399px;
    resize: none;
}
.estado-documento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

/* Estilos de tabla */
.estado-documento table {
    background-color:var(--textLigth);
    border-collapse: collapse;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.2) ;
}
.estado-documento th,td{
    padding:20px;
    text-align: center;
    font-size:var(--md);
}
.estado-documento table thead, caption{
    background-color:var(--textDark);
    border-bottom: solid 5px var(--colorPrimary);
    color:var(--textLigth);
}
caption{
    padding: 10px 0;
    font-size:var(--lg);
    font-weight: bold;
}
.estado-documento tr:nth-child(even){
    background-color: var(--textDark);
}
/* Ripple effect button save */
.ripple {
    background-position: center;
    transition: background 0.5s;
}
.ripple:hover {
    background: var(--colorPrimary) radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
    background-color: var(--colorPrimary);
    background-size: 100%;
    transition: background 0s;
}
  /* Button save style */
button{
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    font-size: var(--sm);
    cursor: pointer;
    color: white;
    background-color: var(--textDark);
    box-shadow: 0 0 4px #999;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
/* boton file */
.instructions .inputfile{
    font-size: var(--sm);
    background:white;
    padding-right: 10px;
    box-shadow: 0 0 4px #999;
    outline: none;
    transition: background 0.5s;
    font-family: 'Quicksand', sans-serif;
}
::-webkit-file-upload-button{
    color:white;
    background:var(--textDark);
    padding: 10px;
    border:none;
    box-shadow: 0 0 4px #999;
    transition: background 0.5s;
    font-family: 'Quicksand', sans-serif;
}
::-webkit-file-upload-button:hover{
    background: var(--colorPrimary);
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        padding:70px;
    }
    .header {
        height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        margin: 0;
        background-color:var(--textDark);
        position:fixed;
        align-items:center;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height:calc(100% -60px);
        overflow-y:auto;
        left:100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height:70px;
    }
    .nav-menu-link:hover nav-menu-link-activate{
        background:none;
        color:#000;
    }
    .nav-toggle{
        display:block;
    }
    .nav-menu_visible{
        left:0;
    }
}

