/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Variables */
:root {
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid #444;
}
.menu {
    display: none;
    margin-left: 20px;
}
.navbar-left, .navbar-rigth{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 40px;
}
.logo{
    width: 37px;
}
.navbar-left ul, .navbar-rigth ul{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 40px;
    padding: 0px;
}
.navbar-left{
    margin-right: 20px;
    color: #444;
}
.navbar-rigth ul li a{
    text-decoration: none;
    color: #444;
}
.navbar-rigth ul li a:hover{
    color: #2196f3;
    /* border: 1px solid #2196f3; */
    /* padding:  2px 2px; */
    /* border-radius: 10px; */
}
.navbar-rigth ul li{
    list-style: none;
    margin-right: 20px;
    font-size: var(--sm);
    font-weight: 100;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .container-instructions{
    margin-bottom:23px;
} */
.modulo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid #444;
}

.container-instructions h2 {
    text-align: center;
}
.instructions div {
    display: flex;
    justify-content:space-between;
}
.instructions div {
    display: flex;
    justify-content:space-between;
}
.modulo1 .instructions{
    padding-bottom: 23px;
}
.observation{
    margin-top: 0;
}
.instructions div textarea {
    height: 43px;
    width: 399px;
    resize: none;
}
.estado-documento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.estado-documento h2 {
    text-align: center;
    margin-bottom: 0px;
}

@media (max-width: 640px){
    .menu {
        display:block;
    }
    .navbar-left, .navbar-rigth{
        margin: 0px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-rigth ul{
        margin: 0px;
    }
    .navbar-rigth ul li:first-child {
        display: none;
        margin: 0px;
    }
}