@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Variables */
:root {
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
/*Paleta de colores*/    
    --textDark:#333745;
    --textLigth:#D1D1D1;
    --colorPrimary:#2196f3;
    --colorSecundary:#efefef;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
body {
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header{
    width: calc(100% - 80px);
    height: 80px;
    background-color:var(--textDark);
    position:fixed;
    top: 0;
    z-index: 200;
    align-items: center;
    display: flex;
    justify-content:space-between;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.main-container{
    display:flex;
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    background-image: linear-gradient(to right top, #333745, #3e4c6d, #426397, #3d7cc4, #2196f3);
}


.icon_menu{
    width: 50px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translateX(10px);
}
.logo_imagen img{
    width: 120px;
    height: 100%;
    margin-top:10px;
}
.nav{
    width: 100px;
    height: 100%;
    align-items: center;
}


.icon_menu i{
    font: size 20px;
    cursor: pointer;
    position: absolute;
    color: var(--white);
}


/* inicio nav */

.nav-link{
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    font-size: 14px;
    line-height:80px;
    text-transform: uppercase;
    width:max-content;
}
.nav-menu-link{
    padding:8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color:var(--colorPrimary);
    transition: 0.5s;
}
.nav-toggle{
    color:#fff;
    background: none;
    border: none;
    font-size: 30px;
    padding:0 20px;
    line-height:60px;
    display:none;
    cursor: pointer;
}
/* fin */


.menu__side{
    width: 80px;
    height:100%;
    background-color:var(--textLigth);
    position: fixed;
    top: 0;
    left: 0;
    font-size:18px;
    color: var(--textDark);
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 30px var(--colorPrimary);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.menu__side::-webkit-scrollbar{
    display: none;
}
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.name__page{
    padding:20px 30px;
    display:flex;
    align-items:center;
    margin-top: 10px;
}
.name__page i{
    width: 20px;
    margin-right: 30px;
}
.options__menu{
    padding:20px 30px;
    position: absolute;
    top: 80px;
}
.options__menu a{
    color:var(--textDark);
    cursor: default;
    display:block;
    position: relative;
    transition: color 300ms;
}
.options__menu a:hover{
    color: var(--colorPrimary);
}
.options__menu .option{
    padding:20px 0px;
    display:flex;
    align-items: center;
    position: relative;
}
.options__menu .option i{
    width:20px;
    margin-right: 30px;
    cursor: pointer;
}
.options__menu .option h4{
    font-weight:300;
    cursor: pointer;
}
a.selected{
    color: var(--black);
}
.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background-color: var(--black);
    position: absolute;
    top: 10%;
    left: -30px;
}

/* Clases para java */
.body_move{
    margin-left: 220px;
}
.menu__side_move{
    width:220px;
}
.header_move{
    width: calc(100% - 220px);
}