
<form action="/" class="login__form" method="POST">
    <label for="codigo_Student" class= "login__email">Codigo</label>
    <input type="number" id="codigo_Student" placeholder="ingresa tu codigo" class="input input-email", name="codigo_Student">

    <label for="IDNumber" class="login__password">Numero de identificacion</label>
    <input type="number" id="IDNumber" placeholder="ingresa tu numero de indentificacion" class="input input-password", name="IDNumber">

    <label for="tipo_usuario">Tipo Usuario</label class="login__email">
    <select name="type_of_user" id="tipo_usuario" class="input input-password">
        <option value="1">Estudiante</option>
        <option value="2">Administrativo</option>
    <input type="submit" value="Log in" class="login__button primary-button">
</form>