<form action="/" class="login" method="POST">
  <p class="title">Log in</p>
  <input type="number" placeholder="Username" name="code" autofocus />
  <i class="fa fa-user"></i>
  <input type="password" placeholder="Password" name="IDNumber" />
  <i class="fa fa-key"></i>
  <select name="type_of_user" class="input input-password">
    <option value="1">Estudiante</option>
    <option value="2">Administrativo</option>
  </select>
  <i class="fa fa-key"></i>
  <button>
    <i class="spinner"></i>
    <span class="state">Log in</span>
  </button>
</form>
