<main class="main">
  <div class="contenedor-principal">
    <div class="modulo1">
      <div class="container-instructions">
        <h2>Subir Documentos</h2>
        <div class="instructions">
          <p>Se debe adjuntar un solo archivo PDF con los siguientes documentos:</p>
          <p>1. CERTIFICADO de afiliacion a una EPS con fecha reciente.</p>
          <p>2. COMPROBANTE DE PAGO correspondiente a la Matricula finaciera</p>
          <p>3. FORMATO para la Matricula Asignaturas diligenciado</p>
          <p>
            Subir documento
            <input type="file" name="file" id="file" class="inputfile" />
          </p>
          <div>
            <p>Observacion</p>
            <textarea
              name="observacion"
              id="observacion"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <button>
            Guardar
          </button>
        </div>
      </div>
    </div>

    <div class="estado-documento">
      <h2>ESTADO DE DOCUMENTO CARGADO</h2>
      <table cellspacing="25">
        <thead>
          <tr>
            <th>Fecha-Hora</th>
            <th>Estado</th>
            <th>Observacion Estudiante</th>
            <th>id Administrativo</th>
            <th>Observacion Administrativo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{document.datetime_document}}</th>
            <th>{{document.id_state}}</th>
            <th>{{document.student_observation}}</th>
            <th>{{document.administrative_code}}</th>
            <th>{{document.administrative_observation}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

