<main class="main">
  <div class="container-instructions">
    <h2>Subir Documentos</h2>
    <div class="instructions">
      <p>Se debe adjuntar un solo archivo PDF con los siguientes documentos:</p>
      <p>1. CERTIFICADO de afiliacion a una EPS con fecha reciente.</p>
      <p>2. COMPROBANTE DE PAGO correspondiente a la Matricula finaciera</p>
      <p>3. FORMATO para la Matricula Asignaturas diligenciado</p>
      <p>
        Subir documento
        <input type="file" name="file" id="file" class="inputfile" />
      </p>
      <div>
        <p>Observacion</p>
        <textarea
          name="observacion"
          id="observacion"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button>
        Guardar
      </button>
    </div>
  </div>
</main>
