
<main class="main">
  <div class="contenedor-principal">
      <form action="/upload" class="container-instructions" method="POST" enctype="multipart/form-data">
        <h2>SUBIR DOCUMENTOS</h2>
        <div class="instructions">
          <p>Se debe adjuntar un solo archivo .PDF con los siguientes documentos:</p>
          <p>1. Certificado de afiliación a una EPS con fecha reciente.</p>
          <p>2. Comprobante de correspondiente a la Matricula finaciera</p>
          <p>3. Formato para la Matricula Asignaturas diligenciado</p>
          <p>
            <input type="hidden" name="codigo_Student" value={{student.codigo_Student}}>
            <input type="file" required name="file" id="file"  class="inputfile" accept=".pdf" onchange="ValidateSingleInput(this)"/>
          </p>
          <div>
            <p class="observation" maxlength="100">Observacion:</p>
            <textarea
              name="observacion"
              id="observacion"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <button class="ripple">
            Guardar
          </button>
        </div>
      </form>
  </div>
  {% include './partial/_message.html' %}
  <div class="estado-documento">
      <table cellspacing="25">
        <caption>ESTADO DE TU DOCUMENTO</caption>
        <thead>
          <tr>
            <th>Fecha-Hora</th>
            <th>Estado</th>
            <th>Observacion Estudiante</th>
            <th>id Administrativo</th>
            <th>Observacion Administrativo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{document.datetime_document}}</td>
            {% if document.id_state %}
            <td id="tdState">{{document.State.description}}</td>
            {% endif %}
            <td>{{document.student_observation}}</td>
            {% if document.administrative_code != None %}
            <td>{{document.administrative_code}}</td>
            {% endif %}
            {% if document.administrative_observation != None %}
            <td>{{document.administrative_observation}}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
  </div>
</main>

