<nav class="navbar">
  <div class="navbar-left">
    <div class="name">
      <p>Bienvenido {{student.name}} {{student.lastname}}</p>
    </div>
  </div>

  <img src="../../static/icons/icons8-laptop-24.png" alt="logo" class="logo" />

  <div class="navbar-rigth">
    <ul>
      <li>
        <a
          href="../../static/recursos/Formato para Matricular Asignaturas.docx"
          download="Formato para Matricular Asignaturas.docx"
          >Formato</a
        >
      </li>
      <li><a href="https://www.google.es/">Manual</a></li>
      <li><a href="/">Salir</a></li>
    </ul>
  </div>
</nav>
