<header id="header">
    <div class="icon_menu">
        <i class="fa-solid fa-bars" id="btn_open"></i>
    </div>
    <div class="logo_imagen">
        <img src="../../static/icons/COSMOS.png" alt="logo" class="logo"/>
    </div>
    <div class="nav">
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="{{url_for('auths.logout')}}" class="nav-menu-link nav-link">Salir</a>
            </li>
        </ul>
    </div>
</header>
<div class="menu__side" id="menu_side">
    <div class="name__page">
        <i class="fa-solid fa-user-check" title="Inicio"></i>
        <p>Bienvenido {{administrative.name}} {{administrative.lastname}}</p>
    </div>
    <div class="options__menu">
        <a href="#" class="selected">
            <div class="option">
                <i class="fa fa-home" title="Inicio"></i>
                <h4>Inicio</h4>
            </div>
        </a>
        <a href="#">
            <div class="option">
                <i class="fa-solid fa-users" title="Estudiantes"></i>
                <h4>Estudiantes</h4>
            </div>
        </a>
        <a href="#">
            <div class="option">
                <i class="fa-solid fa-user-tie" title="Administrativos"></i>
                <h4>Administrativos</h4>
            </div>
        </a>
    </div>
</div>
