<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home_student.css">
    <title>Home</title>
</head>
<body>
    {% include './partial/navbar.html' %}
    <form action="" method="post">
        {% include './partial/main_home_student.html' %}
    </form>
    <script src="../static/javascript/home_student.js"></script>
</body>
</html>