<head>
  <link rel="stylesheet" href="../static/css/revision_document.css" />
</head>

<form action="/update" autocomplete="off" method="POST" id="form">
  <div class="form-group">
    <label for="codigo_Student">Codigo Estudiantil</label
    ><input
      name="codigo_Student"
      class="form-control"
      id="codigo_Student"
      type="number"
      disabled
    />
  </div>
  <div class="form-group">
    <label for="name">Nombre</label
    ><input
      class="form-control"
      id="name"
      type="text"
      name="name"
      disabled
    />
  </div>
  <div class="form-group">
    <label for="lastname">Apellido</label
    ><input
      class="form-control"
      id="lastname"
      type="text"
      name="lastname"
      disabled
    />
  </div>
  <div class="form-group">
    <label for="student_observation">Observacion Estudiante</label>
    <textarea
      class="form-control"
      id="student_observation"
      name="student_observation"
      disabled
    ></textarea>
  </div>
  <div class="form-group">
    <label for="aministrative_observation"> Observation Aministrativo</label>
    <textarea
      class="form-control"
      id="aministrative_observation"
      name="aministrative_observation"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="state">Estado</label>
    <select name="id_state" id="state" class="form-control">
      {% for state in states %}
      <option value="{{state.id}}">{{state.description}}</option>
      {% endfor %}
    </select>
  </div>
  <input
    type="hidden"
    value="{{adm.administrative_code}}"
    name="administrative_code"
  />
  <button class="btn btn-primary" id="btn">Confirmar</button>
  <!-- <button class="btn btn-primary" onclick="delet()"> Cancel</button> -->
</form>


<script src="../static/javascript/home_adm.js">
</script>